/* Custom Revel manual styles. */

h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 2px;
}

.config-overview table {
  width: 100%;
}

.config-overview table td {
  text-align: center;
}