body {
  padding: 0 0 40px 0;
}

.hero-unit {
  background-color: #222;
  margin-top:0px;
  color:#ccc;
  padding-top:0px;
  border-bottom:1px solid #375EAB;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.hero-img {
  float:left;
}

.hero-text {
  margin-left:200px;
  padding-top:200px;
  padding-bottom:150px;
}
