{{append . "moreStyles" "css/common.css"}}

{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        {{if .email}}
          Hello {{.email}} <a href="#" id="logout">Signout</a>
        {{else}}
          <a href="#" id="login">Signin with your email</a>
        {{end}}
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
