    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}Revel{% endif %}</title>
    <link href="{{ page.root }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ page.root }}/css/journal.min.css" rel="stylesheet">
    <link href="{{ page.root }}/css/revel.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
