<div class="leftnav">
  <ul class="nav nav-list">
{% for group in page.nav %}
    <li class="nav-header">{{ group.name }}</li>
  {% for node in group.articles %}
    {% capture node_url %}{{ node.url|prepend:'/manual/' }}{% endcapture %}
    {% if page.url == node_url %}
      <li class="active"><a href="{{ root }}/manual/{{node.url}}">{{node.title}}</a></li>
    {% else %}
      <li><a href="{{ root }}/manual/{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endfor %}
{% endfor %}
  </ul>
</div>
