    <div class="navbar" style="margin:0 auto 2px auto;">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ page.root }}/index.html">
            <img class="revel-hat-img"
                 src="{{ page.root }}/img/revelhat.png"
                 height="40" width="87">
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if page.layout == 'tutorial' %}class="active"{% endif %}>
                <a href="{{ page.root }}/tutorial/index.html">Tutorial</a></li>
              <li {% if page.layout == 'manual' %}class="active"{% endif %}>
                <a href="{{ page.root }}/manual/index.html">Manual</a></li>
              <li {% if page.layout == 'samples' %}class="active"{% endif %}>
                <a href="{{ page.root }}/samples/index.html">Samples</a></li>
              <li {% if page.layout == 'godoc' %}class="active"{% endif %}>
                <a href="{{ page.root }}/docs/godoc/index.html">godoc</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
