{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="login">

  (try with demo/demo)

  <form action="{{url "Application.Login"}}" id="formLogin" method="POST">
    <p class="field">
      <label>Login Name:</label>
      <input type="text" name="username" size="19" value="{{.flash.username}}" />
    </p>
    <p class="field">
      <label>Password:</label>
      <input type="password" name="password" size="19"/>
    </p>
    <p class="field">
      <label>Remember:</label>
      <input type="checkbox" name="remember" value="true"/>
    </p>
    <p class="buttons">
      <input type="submit" value="Account login" />
    </p>
  </form>

  <p>
    <a href="{{url "Application.Register"}}">Register New User</a>
  </p>

</div>

{{template "footer.html" .}}
