{{set . "title" "Home"}}
{{append . "moreStyles" "css/bootstrap-theme.min.css"}}
{{append . "moreScripts" "js/jquery/jquery-1.10.2.min.js"}}
{{append . "moreScripts" "js/bootstrap/bootstrap.min.js"}}
{{template "skeleton.html" .}}

            {{define "content"}}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {{template "sidebar.html" .}}
                    </div>
                    <div class="col-md-9">
                        <div class="jumbotron">
                            <div class="page-header">
                                <h1>Golang Revel Web Framework</h1>
                            </div>
                            <p class="lead">Thank your for using this template</p>
                            <p>This template makes use of the following software</p>
                            <ul>
                                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.0.0</a></li>
                                <li><a href="http://jquery.com/" target="_blank">jQuery 1.10.2</a></li>
                                <li><a href="http://modernizr.com/" target="_blank">Modernizr 2.6.2</a></li>
                            </ul>
                        </div>      
                    </div>
                </div>
            </div>
            {{end}}            
