		<style type="text/css">
		html, body {
			margin: 0;
			padding: 0;
			font-family: Helvetica, Arial, Sans;
			background: #EEEEEE;
		}
		.block {
			padding: 20px;
			border-bottom: 1px solid #aaa;
		}
		#header h1 {
			font-weight: normal;
			font-size: 28px;
			margin: 0;
		}
		#more {
			color: #666;
			font-size: 80%;
			border: none;
		}
		#header {
			background: #fcd2da;
		}
		#header p {
			color: #333;
		}
		#source {
			background: #f6f6f6;
		}
		#source h2 {
			font-weight: normal;
			font-size: 18px;
			margin: 0 0 10px 0;
		}
		#source .lineNumber {
			float: left;
			display: block;
			width: 40px;
			text-align: right;
			margin-right: 10px;
			font-size: 14px;
			font-family: monospace;
			background: #333;
			color: #fff;
		}
		#source .line {
			clear: both;
			color: #333;
			margin-bottom: 1px;
		}
		#source pre {
			font-size: 14px;
			margin: 0;
			overflow-x: hidden;
		}
		#source .error {
			color: #c00 !important;
		}
		#source .error .lineNumber {
			background: #c00;
		}
		#source a {
			text-decoration: none;
		}
		#source a:hover * {
			cursor: pointer !important;
		}
		#source a:hover pre {
			background: #FAFFCF !important;
		}
		#source em {
			font-style: normal;
			text-decoration: underline;
			font-weight: bold;
		}
		#source strong {
			font-style: normal;
			font-weight: bold;
		}
		#stack {
			background: #eee;
			padding:0 1em 1em;
		}
		#stack h3 {
			font-weight: normal;
		}
		#stack code {
			font-family:monospace;
			white-space: pre;
		}
		</style>
		{{with .Error}}
		<div id="header" class="block">
			<h1>{{.Title}}</h1>
			<p>
				{{if .SourceType}}
					The {{.SourceType}} <strong>{{.Path}}</strong> does not compile: <strong>{{.Description}}</strong>
				{{else}}
					{{.Description}}
				{{end}}
			</p>
		</div>
		{{if .Path}}
		<div id="source" class="block">
			<h2>In {{.Path}}
				{{if .Line}}
					(around {{if .Line}}line {{.Line}}{{end}}{{if .Column}} column {{.Column}}{{end}})
				{{end}}
			</h2>
			{{range .ContextSource}}
				<div class="line {{if .IsError}}error{{end}}">
					<span class="lineNumber">{{.Line}}:</span>
					<pre>{{.Source}}</pre>
				</div>
			{{end}}
		</div>
		{{end}}
		{{if .Stack}}
		<div id="stack">
			<h3>Call Stack</h3>
			<code>{{.Stack}}</code>
		</div>
		{{end}}
		{{if .MetaError}}
			<div id="source" class="block">
				<h2>Additionally, an error occurred while handling this error.</h2>
				<div class="line error">
					{{.MetaError}}
				</div>
			</div>
		{{end}}
		{{end}}
