/*
 *= require stylesheets/bootstrap
 */

/* Follow lines just example use scss. */
.hero-unit {
    background: #EEE;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;

    h1 { color: #333; }
}