{{set . "title" "Settings"}}
{{template "header.html" .}}

<h1>Change your password</h1>

<form method="POST" action="{{url "Hotels.SaveSettings"}}">
  {{with $field := field "password" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Password:</strong>
      <input type="password" name="{{$field.Name}}" size="16"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "verifyPassword" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Verify password:</strong>
      <input type="password" name="{{$field.Name}}" size="16"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}

  <p class="buttons">
    <input type="submit" value="Save"> <a href="{{url "Hotels.Index"}}">Cancel</a>
  </p>
</form>

{{template "footer.html" .}}
