		<div class="container">
			<div class="row pull-right">
				<div class="navbar">
					<ul class="nav">
						{{template "nav_link" dict "dot" . "url" "Single.Upload" "name" "Upload my avatar"}}
						{{template "nav_link" dict "dot" . "url" "Multiple.Upload" "name" "Upload multiple files"}}
					</ul>
				</div>
			</div>
		</div>

		{{if eq .RunMode "dev"}}
			{{template "debug.html" .}}
		{{end}}
	</body>
</html>

{{define "nav_link"}}
	<li class="{{if eq .dot.action .url}}active{{end}}">
		<a href="{{url .url}}">{{.name}}</a>
	</li>
{{end}}
