<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/javascripts/jquery-1.5.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/templating.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
