{{set . "title" "Upload Single File"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="span6">
			<form method="post" action="{{url "Single.HandleUpload"}}" enctype="multipart/form-data">
				<p>
					<label for="avatar"><strong>Avatar*:</strong></label>
					<input type="file" name="avatar" id="avatar" class="span6">
				</p>
				<hr>
				<input type="submit" value="Upload" class="btn btn-large btn-success">
			</form>
		</div>
		<div class="span6">
			<i>
				Your avatar is expected to be in PNG or JPEG format.
				Minimum allowed resolution is 150x150px.
				Maximum file size is 2 MB.
			</i>
		</div>
	</div>
</div>

{{template "footer.html" .}}
