#!/bin/sh
pushd `dirname $0` > /dev/null
SCRIPTPATH=`pwd`
popd > /dev/null
chmod u+x $SCRIPTPATH/{{.BinName}}
$SCRIPTPATH/{{.BinName}} -importPath {{.ImportPath}} -srcPath $SCRIPTPATH/src -runMode prod
