{{set . "title" "Upload Multiple Files"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="span6">
			<form method="post" action="{{url "Multiple.HandleUpload"}}" enctype="multipart/form-data">
				<p>
					<label for="file1"><strong>File 1*:</strong></label>
					<input type="file" name="file[]" id="file1" class="span6">
				</p>
				<p>
					<label for="file2"><strong>File 2*:</strong></label>
					<input type="file" name="file[]" id="file2" class="span6">
				</p>
				<p>
					<label for="file3"><strong>File 3*:</strong></label>
					<input type="file" name="file[]" id="file3" class="span6">
				</p>
				<hr>
				<input type="submit" value="Upload" class="btn btn-large btn-success">
			</form>
		</div>
		<div class="span6">
			<i>
				At least 2 but no more than 3 files are expected to be submitted.
			</i>
		</div>
	</div>
</div>

{{template "footer.html" .}}
