<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Revel</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/revel.css" rel="stylesheet">
  </head>

  <body>
    <header class="hero-unit">
      <div class="hero-img"><img src="../img/RevelBlackLines.png" height="500" width="350"></div>
      <div class="hero-text">
        <h1>Revel</h1>
        <p>A high-productivity web framework for the Go language, modeled on <a href="http://www.playframework.org">Play! Framework</a>.</p>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="span4">
          <h2>Quick Start</h2>
           <p> </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>MIT License</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
