{{template "header.html" .}}

<h1>Confirm hotel booking</h1>

<form method="POST" action="{{url "Hotels.ConfirmBooking" .hotel.HotelId}}">
  <p>
    <strong>Name:</strong> {{.hotel.Name}}
  </p>
  <p>
    <strong>Address:</strong> {{.hotel.Address}}
  </p>
  <p>
    <strong>City:</strong> {{.hotel.City}}
  </p>
  <p>
    <strong>State:</strong> {{.hotel.State}}
  </p>
  <p>
    <strong>Zip:</strong> {{.hotel.Zip}}
  </p>
  <p>
    <strong>Country:</strong> {{.hotel.Country}}
  </p>
  <p>
    <strong>Nightly rate:</strong> {{.hotel.Price}}
  </p>
  <p>
    <strong>Beds:</strong> {{.booking.Beds}}
    <input type="hidden" name="booking.Beds" value="{{.booking.Beds}}">
  </p>
  <p>
    <strong>Total:</strong> {{.booking.Total}} {{/* .formatCurrency('USD') */}}
  </p>
  <p>
    <strong>Check in date:</strong> {{.booking.CheckInDate.Format "2006-01-02"}}
    <input type="hidden" name="booking.CheckInDate" value="{{.booking.CheckInDate.Format "2006-01-02"}}">
  </p>
  <p>
    <strong>Check out date:</strong> {{.booking.CheckOutDate.Format "2006-01-02"}}
    <input type="hidden" name="booking.CheckOutDate" value="{{.booking.CheckOutDate.Format "2006-01-02"}}">
  </p>
  <p>
    <strong>Credit card #:</strong> {{.booking.CardNumber}}
    <input type="hidden" name="booking.CardNumber" value="{{.booking.CardNumber}}">
    <input type="hidden" name="booking.NameOnCard" value="{{.booking.NameOnCard}}">
    <input type="hidden" name="booking.CardExpMonth" value="{{.booking.CardExpMonth}}">
    <input type="hidden" name="booking.CardExpYear" value="{{.booking.CardExpYear}}">
    <input type="hidden" name="booking.Smoking" value="{{.booking.Smoking}}">
  </p>

  <p class="buttons">
    <input type="submit" value="Confirm" name="confirm">
    <input type="submit" value="Revise" name="revise">
    <a href="{{url "Hotels.Show" .hotel.HotelId}}">Cancel</a>
  </p>
</form>

{{template "footer.html" .}}
