{{set . "title" "Home"}}
{{template "header.html" .}}

<h1>Facebook!</h1>

<p>The example is configured with a key corresponding to the loisant.org domain.
Facebook will no accept redirection to other domains (such as localhost)
To test it, you need to either map 127.0.0.1 to loisant.org in your /etc/hosts,
either replace the configuration to an application that you created on Facebook.</p>

{{if .me}}
<h3>You're {{.me.name}} on Facebook</h3>
<img src="" />

{{else}}
<a href="{{.authUrl}}">login</a>
{{end}}

{{template "footer.html" .}}
